html, body {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 85%;
  margin: 0;
  padding: 0.5em 4em;
}

cite {
    color: black;
    font-style: normal;
    font-weight: bold;
}
em {
  color: gray;
  font-style: normal;
}
em.noteRoad {
	font-size: 80%;
}

p {
  margin: 0; padding: 0; margin-bottom: 0.5em;
}

h1, h2, h3, h4 { color: gray; }

table {
  border-collapse: collapse;
  border: 1px solid gray;
  margin: 1em auto;
  width: 80%;
}
table td, th {
  border: 1px solid gray;
  padding: 0.15em 0.25em;
}
table thead th {
  background-color: gray;
  color: white;
  text-align: center;
}

.Journey {
    border: 1px solid gray;
    border-left-width: 3px;
    padding: 0.5em 2em;
    margin: 0.23em 0;
}
.Journey h4 {
    margin: 0; padding: 0;
    margin-bottom: 0.3em;
}
.Journey ul { margin: 0; padding: 0; }
.Journey ul li {
    list-style-type: circle;
    margin: 0; padding: 0;
}
.Journey ul li p {
    margin: 0;
    margin-bottom: 0.1em;
}
.planned {
    background-color: rgb(225,225,225);
    border: 1px solid silver;
    border-left-width: 2px;
    color: #999;
}
.planned cite, .planned h4 { color: #999; }

.User {
  background: transparent url('graphics/User.png') no-repeat scroll 1px 1px;
  border: none;
  margin: 0.5em;
  padding: 0 0 0 52px;
}
.User p {
  margin: 0; padding: 0;
}
.Gvd {
  background: transparent url('graphics/Gvd.png') no-repeat scroll top left;
  border: 1px solid gray;
  border-left-width: 5px;
  margin: 0.5em 0;
  padding: 0.5em 2em;
}
.Gvd h4 {}
.Gvd h4:before {
  content: '» ';
}

tr.archived td {
	color: #789;
	font-size: 90%;
	padding: 0.3em;
}